//- How to create responsive websites:

//- Make all your containers flex... Keep all small objects in flex containers... Set flex-wrap to wrap... Set min-height, max-height and min-width, max-width... Set as many values as you can in rem, em and %. Avoid using px... Create media queries for flex-direction and font sizes... And you are done...
//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
        div#logo
          img(src="./static/logo.jpg", alt="logo")
          | -TDA-Pvt.Ltd.
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact Us] 
    div#home       
        h1  Tom's Dance Academy        
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam aut obcaecati, minus voluptatibus vel eum illum sit. Nihil, fugiat facilis? Tempora quos corrupti debitis laudantium laborum recusandae maxime obcaecati nemo, veritatis ut ea quam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum nisi quidem animi esse doloribus commodi, quae asperiores voluptate fuga maiores natus maxime corporis molestiae corrupti temporibus consequatur libero officia suscipit blanditiis voluptatem repudiandae modi.
    section#content
        h2  Our Sponsors
        div.container  
          div.item 
            h3  Sponsor-1
            img(src="./static/dance1.png",alt="Dance Image")
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam accusamus odio inventore fugit magnam? Quas maiores quod, ab unde totam sed quaerat mollitia fuga libero iusto repudiandae nam ipsam saepe perspiciatis! Ipsa, nulla necessitatibus.
          div.item 
            h3  Sponsor-2
            img(src="./static/dance2.jpg",alt="Dance Image")
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam accusamus odio inventore fugit magnam? Quas maiores quod, ab unde totam sed quaerat mollitia fuga libero iusto repudiandae nam ipsam saepe perspiciatis! Ipsa, nulla necessitatibus.  
          div.item 
            h3  Sponsor-3
            img(src="./static/dance3.jpg",alt="Dance Image")
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam accusamus odio inventore fugit magnam? Quas maiores quod, ab unde totam sed quaerat mollitia fuga libero iusto repudiandae nam ipsam saepe perspiciatis! Ipsa, nulla necessitatibus.  
    div#partners        
      h2 Our Partners
      div#partnerslogo
        img(src="./static/apple.png")
        img(src="./static/skype.png")
        img(src="./static/twitter.png")
        img(src="./static/microsoft.png")
        img(src="./static/amazon.png")
    footer#footer
        | Copyright © 2022 TomDanceAcademy.Pvt.Ltd. |  All rights reserved.
    script
      include ../static/index.js